Repository gardener/gardener-custom-metrics, pull requests merged in 2024-04, with the labels that each got.

#18 Add liveness and readiness probes to the example Deployment
  example/custom-metrics-deployment.yaml
Labels: area/auto-scaling, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#17 Avoid loop when secret not found
  pkg/input/cli_options.go
  pkg/input/controller/pod/actuator.go
  pkg/input/controller/reconciler.go
  pkg/input/controller/reconciler_test.go
  pkg/input/input_data_registry/input_data_registry.go
Labels: reviewed/lgtm, needs/ok-to-test, needs/review, size/xs

#22 Restrict Endpoints watch by namespace
  pkg/ha/ha_service.go
  pkg/util/testutil/fake_manager.go
Labels: needs/ok-to-test, needs/review, size/xs

#24 Revert "Add liveness and readiness probes to the example Deployment (#18)"
  example/custom-metrics-deployment.yaml
Labels: area/auto-scaling, kind/bug, needs/ok-to-test, needs/review, size/xs

#20 Update example RBAC
  example/rbac.yaml
Labels: area/auto-scaling, kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#19 Make max concurrent reconciles configurable and increase the default value
  pkg/input/cli_options.go
  pkg/input/controller/pod/add.go
  pkg/input/controller/secret/add.go
  pkg/input/controller_options.go
  pkg/input/input_data_service.go
  pkg/input/input_data_service_test.go
Labels: area/auto-scaling, kind/bug, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#25 Clean up the prepare_release script calls from the pipeline definitions
  .ci/pipeline_definitions
Labels: area/auto-scaling, kind/bug, needs/ok-to-test, needs/review, size/xs

#14 Upgrade `k8s.io/*` to `v0.28`, `sigs.k8s.io/controller-runtime` to `v0.16`
  Makefile
  cmd/gardener-custom-metrics/main.go
  go.mod
  go.sum
  pkg/api/generated/openapi/openapi.go
  pkg/api/openapi-gen-dependency.go
  pkg/app/cli_options.go
  pkg/ha/ha_service.go
  pkg/ha/ha_service_test.go
  pkg/input/controller/controller.go
  pkg/input/controller/controller_test.go
  pkg/input/controller/pod/actuator.go
  pkg/input/controller/pod/actuator_test.go
  pkg/input/controller/pod/add.go
  pkg/input/controller/reconciler.go
  pkg/input/controller/reconciler_test.go
  pkg/input/controller/secret/actuator.go
  pkg/input/controller/secret/actuator_test.go
  pkg/input/controller/secret/add.go
  pkg/input/controller/test_util/fake_client.go
  pkg/input/input_data_service.go
  pkg/input/metrics_scraper/scrape_queue_test.go
  pkg/metrics_provider/metrics_provider.go
  pkg/metrics_provider/metrics_provider_service.go
  pkg/metrics_provider/metrics_provider_service_test.go
  pkg/util/gardener/options.go
  pkg/util/testutil/fake_manager.go
  third_party/gardener/gardener/hack/check-generate.sh
  third_party/gardener/gardener/hack/generate.sh
Labels: kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xl
